<%provide :title,"Tags"%>
<%cache 'tags#index',page: params[:page] || 1 do %>
  <tags>
  <div>
    <span>Tags</span>
    <p>
    <%=render @tags%>
    </p>
  </div>
  <tags>
  <%= will_paginate%>
<%end%>
