<% provide(:title,tag_name = params[:id])%>
<%cache "tags#show#{params[:id]}",page: params[:page] || 1 do%>
  <div>
    <span class="tag-title"><%=tag_name%></span>
    <hr />
    <posts>
    <ul>
      <%= render @posts %>
    </ul>
    </posts>
  </div>
  <p>
  <%=will_paginate%>
  </p>
<%end%>
