<div>
  <detail>
    <b>统计</b><br />
    <hr />
    <ul>
      <li>文章数 <%= Post.all.count%></li>
      <li>回复数 <%= Comment.all.count%></li>
      <li>Tags <%= tags_count%></li>
    </ul>
  </detail>
</div>
