<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="<%= root_path%>">
        Ruby-Tips
      </a>
      <ul class="nav">
        <li>
          <a href="<%= root_path%>">Home</a>
        </li>
        <li>
          <a href="<%= tags_path %>">Tags</a>
        </li>
      </ul>
    </div>
  </div>
</div>
